<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" th:href="@{/admin/}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <a class="nav-link" th:href="@{/admin/education}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Education
                            </a>
                            <a class="nav-link" th:href="@{/admin/experience}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Experience
                            </a>
                            <a class="nav-link" th:href="@{/admin/competence}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Competence
                            </a>
                            <a class="nav-link" th:href="@{/admin/langage}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Langage
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Experience</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                        <div th:if="${done}" class="alert alert-success mb-2 mt-2">
                            <span th:text="${done}"></span>
                        </div>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ajouterProduitModal">AJOUTER UN ELEMENT</button>
                        <div class="">
                            <table class="table table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nom Poste</th>
                                        <th>Date</th>
                                        <th>Nom Entreprise</th>
                                        <th>Pays Ville</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr th:each="experience:${experiences}">
                                    <td th:text="${experience.id}">1</td>
                                    <td th:text="${experience.nomPoste}">1</td>
                                    <td th:text="${experience.date}">1</td>
                                    <td th:text="${experience.nomEntreprise}">1</td>
                                    <td th:text="${experience.paysVille}">1</td>
                                    <td th:text="${experience.description}">Compétence 1</td>
                                    <td>
                                        <a class="btn btn-primary"
                                           data-bs-toggle="modal" th:data-bs-target="'#modifierModal-' + ${experience.id}">
                                            <i class="bi bi-pencil"></i> Modifier
                                        </a>
                                        <a class="btn btn-info"
                                           data-bs-toggle="modal" th:data-bs-target="'#confirmationModalDe-' + ${experience.id}">
                                            <i class="bi bi-eye"></i> Détail
                                        </a>
                                        <a class="btn btn-danger"
                                           data-bs-toggle="modal" th:data-bs-target="'#confirmationModal-' + ${experience.id}">
                                            <i class="bi bi-trash"></i> Supprimer
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <!--BOITE MODALE POUR LES DETAILS DES PRODUITS -->
        <div th:each="experience:${experiences}" class="modal fade" th:id="'confirmationModalDe-' + ${experience.id}" tabindex="-1" th:aria-labelledby="'confirmationModalLabelDe-' + ${experience.id}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:id="'confirmationModalLabel-' + ${experience.id}">DETAIL PRODUIT</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <strong>Nom Poste:</strong>
                        <p th:text="${experience.nomPoste}"></p>
                        <strong>Date :</strong>
                        <p th:text="${experience.date}"></p>
                        <strong>Nom Entreprise :</strong>
                        <p th:text="${experience.nomEntreprise}"></p>
                        <strong>Pays Ville :</strong>
                        <p th:text="${experience.paysVille}"></p>
                        <strong>Description :</strong>
                        <p th:text="${experience.description}"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!--BOITE MODALE POUR LA SUPPRESSION DES PRODUITS -->
        <div th:each="experience:${experiences}" class="modal fade" th:id="'confirmationModal-' + ${experience.id}" tabindex="-1" th:aria-labelledby="'confirmationModalLabel-' + ${experience.id}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:id="'confirmationModalLabel-' + ${experience.id}">Confirmation de suppression</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Êtes-vous sûr de vouloir supprimer le produit : <strong th:text="${experience.nomPoste}"></strong> ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <form th:action="@{/admin/experience/delete/{id}(id=${experience.id})}" method="post">
                            <button class="btn btn-danger" type="submit">Confirmer la suppression</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--BOITE MODALE POUR LA MODIFICATION DES PRODUITS -->
        <div th:each="experience:${experiences}" class="modal fade" th:id="'modifierModal-' + ${experience.id}" tabindex="-1" th:aria-labelledby="'modifierModalLabel-' + ${experience.id}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:id="'modifierModalLabel-' + ${experience.id}">Modifier l'element</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" th:action="@{/admin/experience/alter/{id}(id=${experience.id})}">
                            <div class="mb-3">
                                <label for="nomEcole_modif" class="form-label">Nom Poste</label>
                                <input type="text" th:value="${experience.nomPoste}" name="nomPoste" class="form-control" id="nomEcole_modif">
                            </div>
                            <div class="mb-3">
                                <label for="paysVille_modif" class="form-label">Date</label>
                                <input type="text" th:value="${experience.date}" name="date" class="form-control" id="paysVille_modif">
                            </div>
                            <div class="mb-3">
                                <label for="niveauEtudes_modif" class="form-label">Nom Entreprise</label>
                                <input type="text" th:value="${experience.nomEntreprise}" name="nomEntreprise" class="form-control" id="niveauEtudes_modif">
                            </div>
                            <div class="mb-3">
                                <label for="date_modif" class="form-label">Pays Ville</label>
                                <input type="text" th:value="${experience.paysVille}" name="paysVille" class="form-control" id="date_modif">
                            </div>
                            <div class="mb-3">
                                <label for="description_modif" class="form-label">Description</label>
                                <input type="text" th:value="${experience.description}" name="description" class="form-control" id="description_modif">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--BOITE MODALE POUR L'AJOUT DES ELEMENTS -->
        <div class="modal fade" id="ajouterProduitModal" tabindex="-1" aria-labelledby="ajouterProduitModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ajouterProduitModalLabel">Ajouter un element</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" th:action="@{/admin/experience/add}">
                            <div class="mb-3">
                                <label for="nomEcole_modifAj" class="form-label">Nom Poste</label>
                                <input type="text" name="nomPoste" class="form-control" id="nomEcole_modifAj" required>
                            </div>
                            <div class="mb-3">
                                <label for="paysVille_modifAj" class="form-label">Date</label>
                                <input type="text" name="date" class="form-control" id="paysVille_modifAj" required>
                            </div>
                            <div class="mb-3">
                                <label for="date_modifAj" class="form-label">Nom Entreprise</label>
                                <input type="text" name="nomEntreprise" class="form-control" id="date_modifAj" required>
                            </div>
                            <div class="mb-3">
                                <label for="niveauEtudes_modifAj" class="form-label">Pays Ville</label>
                                <input type="text" name="paysVille" class="form-control" id="niveauEtudes_modifAj">
                            </div>
                            <div class="mb-3">
                                <label for="description_modifAj" class="form-label">Description</label>
                                <input type="text" name="description" class="form-control" id="description_modifAj" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="assets/demo/chart-area-demo.js"></script>
    <script src="assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>

</html>
